
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; }

h1 { font: 600 20px/1.4 'Montserrat'; }
h2 { color: $White; font: 600 14px/1.2 'Montserrat'; text-align: right; text-transform: uppercase; }
// h3 { font: bold 1.44rem/1.2 'Montserrat'; }
// h4 { font: bold 1.2rem/1.2 'Montserrat'; }
h5 { font: 500 15px/1.44 'Jost'; }
// h6 { font: bold .875rem/1.2 'Montserrat'; }

p { font: normal 16px/1.44 'Jost';
  a { color: $accentColor; border-bottom: 1px solid $accentColor;
    &:active,
    &:focus { color: $accentColor; }
  }
}
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:focus { color: $linkColor; }

  svg { transition: fill, stroke .3s ease-out; }
}

// hr { background: $mainColor; }

.container { width: 100%; margin: 0 auto; padding: 1.5rem 1.125rem; background: transparent; display: grid; grid-gap: 1.5rem .75rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 1.5rem; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 3rem 4rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $tabletWidth) {
  h1 { font-size: 38px; }
  h2 { font-size: 26px; }
  // h3 { font-size: 1.728rem; }
  // h4 { font-size: 1.44rem; }
  h5 { font-size: 20px; }
  // h6 { font-size: 1rem; }

  p { font-size: 20px; }
}
@media screen and (min-width: $desktopWidth) {
  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $DarkGrey; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  h1 { font-size: 45px; }

  p a:hover { border-color: $linkColor_hover; }

  a:hover { color: $linkColor_hover; }
}


/* Animations */
.object { opacity: 0; transform: scale(0.9); }

@media (prefers-reduced-motion: no-preference) {
  .object { transition: opacity .75s ease, transform .75s ease; }
}

.object-animation { opacity: 1; transform: scale(1); }


/* Form styles */
form {
  fieldset { display: flex; }

  label { color: $mainColor; font: normal .875rem/1.2 'Montserrat'; }
  textarea,
  input { width: 100%; border: 1px solid transparent; border-bottom: 1px solid $mainColor; background: $White; color: $mainColor; font: normal .875rem/1 'Montserrat';
    &::placeholder { color: $DarkGrey; }
    &:focus { border-color: $mainColor; }
    &.success { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 7.5rem; padding: .75rem .5rem; resize: none; }
  input { height: 3rem; padding: 0 .5rem; }

  @media screen and (min-width: $desktopWidth) {
    textarea,
    input { font-size: 1rem; }
    textarea { min-height: 8rem; }
    input { height: 3.25rem; }
  }
}

// .button {
//   a { width: 100%; height: 3rem; border: 1px solid $linkColor; border-radius: 5px; padding: 0 1.25rem; background: $linkColor; color: $White; font: bold .875rem/1 'Montserrat'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }

//   @media screen and (min-width: $desktopWidth) {
//     a { width: auto; height: 3.25rem; font-size: 1rem;
//       &:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $White; }
//     }
//   }
// }


/* Layout styles */
header { height: 0; @include z('header');
  .container {
    .header {
      &-languages { display: flex; justify-content: flex-end;
        ul { display: flex; align-items: center;
          li { position: relative;
            &:not(:last-child) { margin-right: .875rem;
              &::after { @include pseudo; top: calc(50% - 2px); right: -9px; width: 4px; height: 4px; border-radius: 50%; background: $mainColor; }
            }
            &.current a { border: none; }

            a { font-weight: 600; font-size: 14px; border-bottom: 1px solid $mainColor; text-transform: uppercase; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 4rem 1.125rem 0;
      .header {
        &-languages ul li {
          &:not(:last-child) { margin-right: 1rem;
            &::after { top: calc(50% - 3px); right: -11px; width: 6px; height: 6px; }
          }
          &.current a { color: $linkColor;
            &:hover { color: $linkColor; }
          }

          a { font-size: 26px;
            &:hover { border-bottom-color: $linkColor_hover; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 4rem 4rem 0;
      .header {

      }
    }
  }
}

main { @include z('main'); }

footer { position: absolute; left: 0; bottom: 12rem; width: 100%; @include z('footer');
  .container { padding: 0 1.125rem;
    .footer {
      &-brand { display: flex; justify-content: space-around; align-items: center;
        &__image {
          &:not(:last-child) { margin-right: 2rem; }

          &--haebaragi { width: 134px; height: 26px; }
          &--horangi { width: 107px; height: 24px; }
        }
      }
      &-copyright { margin-top: 1.25rem;
        p { font-size: 14px; text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .footer {
        &-brand { justify-content: center;
          &__image {
            &:not(:last-child) { margin-right: 4rem; }

            &--haebaragi { width: 220px; height: 43px; }
            &--horangi { width: 176px; height: 40px; }
          }
        }
        &-copyright { margin-top: 3rem;
          p { font-size: 20px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 0 4rem;
      // .footer {}
    }
  }

  @media screen and (min-width: $tabletWidth) { bottom: 2.25rem; }
  @media screen and (min-width: $desktopWidth) { bottom: 4.25rem; }
}


/* Page styles */
@import 'page/index';
