
/* Brand colors */
$DeepGreen                 : #00735e;
$Green                     : #0f937b;
$LightGreen                : #bce7ae;
$LightRed                  : #ff6565;
$Pink                      : #f4bdbd;

$Black                     : #000000;
$DarkGrey                  : #c4c4c4;
$LightGrey                 : #f3fff8;
$White                     : #ffffff;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Montserrat', sans-serif;
$accentFontFamily          : 'Jost', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1160px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $DeepGreen;
$mainBackground            : $LightGreen;
$linkColor                 : $DeepGreen;
$linkColor_hover           : $Green;

$accentColor               : $LightRed;

$successColor              : $DeepGreen;
$warningColor              : $LightGreen;
$errorColor                : $LightRed;

$borderColor               : #def3d7;
$overlayColor              : rgba(255, 255, 255, .5);
$buttonBackground_hover    : rgba(255, 255, 255, .7);

/* Color shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba(0, 115, 94, .66);
$logoTextShadow            : 0 2px 12px rgba(255, 255, 255, .3);

/* Color gradients */
$headerGradient            : linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #f3a583 80%);
$headerGradient_mobile     : linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #f3a583 100%);
$footerGradient            : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #f3a583 180%), linear-gradient(-20deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(0, 115, 94, .5) 220%);
$footerGradient_mobile     : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #f3a583 160%);
