footer
  .container
    .footer.content
      .footer-brand
        .footer-brand__image
          img.footer-brand__image--haebaragi(src='/image/haebaragi.svg' alt='image')
        .footer-brand__image
          img.footer-brand__image--horangi(src='/image/horangi.svg' alt='image')
      .footer-copyright
        p &copy; 2022 All Rights Reserved.
