-
  let languages = [
    { url: '#', title: 'En', current: true },
    { url: '#', title: 'Es' }
  ]

header
  .container
    .header.content
      nav.header-languages
        ul
          each language in languages
            li(class=(language.current === true ? 'current' : undefined))
              a(href=language.url title=language.title) #{ language.title }
