
/* Index page */
#index { background: $headerGradient_mobile; @include z('index');
  .container { padding: 4.75rem 1.125rem 4.25rem;
    .index {
      &__image { position: absolute; left: 0; top: 0; width: 100%; z-index: -1;
        img { width: 100%; }
      }

      &-logo { margin: 0 -.25rem; font-weight: bold; text-shadow: $logoTextShadow;
        span { position: relative; font-size: 70px; line-height: 1; text-transform: uppercase; display: inline-block;
          sup { position: absolute; top: 11px; right: 2px; font-size: 11px; line-height: 1.2; }
        }
      }

      &__lead,
      &__info { margin-top: .5rem; }
    }
    .products {
      &__title { margin-bottom: 1.25rem; }

      &-list { display: flex; flex-direction: column;
        &__item {
          &:not(:last-child) { margin-bottom: 2rem; }

          a { display: block; }
        }
        &__image { position: relative; margin-bottom: 1.5rem; display: inline-block;
          &--leaves { width: 111px; height: 105px; }
          &--medicine-chest { width: 85px; height: 94px; }
          &--argentum { position: absolute; right: -27px; bottom: 0; width: 27px; height: 27px; }
        }
        &__link { font-weight: 600; font-size: 20px; line-height: 1.4;
          svg { width: 28px; height: 16px; margin-left: .25rem; fill: $LightRed; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 9.75rem 1.125rem 7.25rem;
      .index {
        &__image { left: calc((100% - 1240px) / 2); width: 1240px; }

        &-logo { margin: 0 -.625rem 3.5rem -.625rem;
          span { font-size: 154px; display: inline;
            sup { top: 35px; right: 0; font-size: 18px; }
          }
        }

        &__lead { margin: 3.5rem 14rem 0 0; }
        &__info { margin: 2.5rem 25rem 0 0; }
      }
      .products {
        &__title { margin: 2.25rem 0; }

        &-list { flex-direction: row;
          &__item { width: calc((100% - 2rem) / 2);
            &:not(:last-child) { margin: 0 2rem 0 0; }
          }
          &__image { margin-bottom: 2rem;
            &--leaves { width: 282px; height: 235px; margin-left: -32px; transform: scale(1); transition: all .5s ease-out; }
            &--medicine-chest { width: 173px; height: 215px; margin: 20px 20px 0 -22px; transform: scale(1); transition: all .5s ease-out; }
            &--argentum { right: -39px; width: 62px; height: 62px; }
          }
          &__link { font-size: 30px;
            svg { margin-left: .375rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 9.75rem 4rem 7.25rem;
      .index {
        &__image { left: calc((100% - 1586px) / 2); width: 1586px; }

        &-logo span { font-size: 168px;
          sup { top: 36px; right: -2px; font-size: 20px; }
        }
      }
      .products {
        &-list {
          &__item a:hover {
            .products-list__image--leaves,
            .products-list__image--medicine-chest { transform: scale(1.05); }
            .products-list__link { color: $linkColor; text-decoration: underline;
              svg { fill: $linkColor; }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { background: $headerGradient; }
}

#about { background: $Green; color: $White;
  .container { padding: 3rem 1.125rem 10rem;
    .about {
      &__title { margin-bottom: 1.25rem; }

      &-list { display: flex; flex-direction: column;
        &__item { display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: 1.5rem; }
        }
        &__icon { margin-bottom: .5rem; flex: none;
          img { width: 50px; height: 50px; }
        }
        &__text p { color: $LightGrey; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 1.125rem 10.25rem;
      .about {
        &__title { margin-bottom: 2.25rem; }

        &-list { flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 4rem) / 2); flex-direction: row;
            &:not(:last-child) { margin-bottom: 0; }
            &:nth-child(odd) { margin-right: 4rem; }
            &:nth-child(-n+2) { margin-bottom: 2rem; }
          }
          &__icon { position: relative; margin: 0 3.625rem 0 0;
            &::after { @include pseudo; top: 20px; right: -46px; width: 38px; height: 6px; background: transparent url('/image/icon/vector.svg') center no-repeat; background-size: cover; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 5.25rem 4rem 10.25rem;
      // .about {}
    }
  }
}

#countries { @include z('index');
  .container { position: relative; padding: 0 1.125rem;
    .countries { position: absolute; left: 0; top: -6.875rem; width: 100%; border-radius: 20px; padding: 1.25rem 1rem; background: $White;
      &__info { font-weight: 600; font-size: 20px; text-align: center;
        span { border-radius: 5px; padding: 0 .25rem; background: $accentColor; color: $White; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .countries { top: -7.1875rem; padding: 2.25rem;
        &__info { font-size: 32px; text-align: left; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .countries { left: -6.25rem; top: -7.1875rem; width: calc(100% + 12.5rem); padding: 2.25rem 9.25rem;
        &__info { margin-right: 10rem; font-size: 35px; }
      }
    }
  }
}

#region-info { background: $footerGradient_mobile; z-index: -1;
  .container { padding: 8rem 1.125rem 20rem;
    .region-info {
      &__text { margin-bottom: 1.25rem;
        p { text-align: center; }
      }

      &-filter { margin-bottom: 1rem;
        ul { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
          li { margin: .25rem 0 .25rem .5rem;
            &.current a { background: $mainColor; color: $White; }

            a { border-radius: 5px; padding: 2px 8px; background: $White; font-family: $accentFontFamily; line-height: 1.44; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }
          }
        }
      }
      &-tabs {
        &__item { opacity: 0; display: none; flex-direction: column;
          &.open { opacity: 1; display: flex; animation: fadeIn .75s ease; }

          @keyframes fadeIn {
            0% { display: none; opacity: 0; transform: scale(0.9); }
            1% { display: flex; }
            100% { opacity: 1; transform: scale(1); }
          }
        }
        &__image { width: 100%; border: 2px solid $White; border-radius: 5px; margin-bottom: 2rem; flex: none;
          img { width: 100%; }
        }
        &__desc { width: 100%; }
        &__title { position: relative; margin-bottom: .5rem;
          h5 { margin-left: 2.25rem;
            &::before { @include pseudo; left: 12px; top: 4px; width: 12px; height: 12px; background: $accentColor; }
          }

          &--pink h5::before { background: $Pink; }
        }

        &-table { border-top: 1px solid $borderColor; margin-bottom: 2rem;
          &__line { border-bottom: 1px solid $borderColor; padding: .25rem .625rem; display: flex; align-items: flex-start; }
          &__country { width: calc(40% - .25rem); margin-right: .5rem; display: flex; align-items: center;
            img { width: 18px; height: 18px; margin-right: .5rem; flex: none; }
            p { font-size: 15px; line-height: 1.2; }
          }
          &__products { width: calc(60% - .25rem);
            p { font-size: 12px; display: flex;
              span { border-radius: 2.5px; margin-right: .25rem; padding: 0 .125rem; background: $overlayColor; text-align: center; align-self: flex-start; flex: none; }
            }
          }
        }

        &__trials p { margin-left: 2.25rem; }
      }
    }
    .contacts {
      &__title { margin-bottom: 1.25rem; }
      &__text p { font-size: 14px; }
      &__image { position: absolute; left: 0; bottom: 0; width: 100%;
        img { width: 100%; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 11.25rem 1.125rem 16.25rem;
      .region-info {
        &__text { margin-bottom: 2.25rem;
          p { text-align: left; }
        }

        &-filter { margin-bottom: 2.25rem;
          ul { justify-content: flex-start;
            li { margin: 0 1rem 1rem 0;
              &.current a:hover { background: $linkColor; }

              a { padding: 4px 18px; font-size: 24px;
                &:hover { background: $buttonBackground_hover; }
              }
            }
          }
        }
        &-tabs { margin-bottom: 4rem;
          &__item { flex-direction: row; }
          &__image { width: calc((100% - 2rem) / 2); margin: 0 2rem 0 0; }
          &__desc { width: calc((100% - 2rem) / 2); }
          &__title h5 { margin-left: 3rem;
            &::before { left: 17px; top: 7px; }
          }

          &-table {
            &__line { padding: .5rem .75rem; }
            &__country { width: calc(36% - .5rem); margin-right: 1rem;
              img { width: 24px; height: 24px; margin-right: .75rem; }
              p { font-size: 20px; }
            }
            &__products { width: calc(64% - .5rem);
              p { font-size: 16px;
                &:not(:last-child) { margin-bottom: .25rem; }

                span { margin-right: .375rem; padding: 0 .25rem; }
              }
            }
          }

          &__trials p { margin-left: 3rem; }
        }
      }
      .contacts { @include subgrid(1, 9);
        &__title { grid-column: 8 / 10; margin-bottom: 0; order: 2; }
        &__text { grid-column: 1 / 8; order: 1;
          p { font-size: 20px; }
        }
        &__image { left: calc((100% - 1240px) / 2); width: 469px; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 11.25rem 4rem 16.25rem;
      .region-info {
        &-tabs { margin-bottom: 6rem;
          &__image { width: auto;
            img { width: 468px; height: 514px; }
          }
          &__desc { width: 100%; }
        }
      }
      .contacts { @include subgrid(1, 12);
        &__title { grid-column: 10 / 13; }
        &__text { grid-column: 1 / 10; }
        &__image { left: calc((100% - 1586px) / 2); width: 469px; }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { background: $footerGradient; }
}
